.counter {
    background-color: #1A595C;
    border: 2px solid black;
    border-radius: 1px;
    margin: 50px auto;
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

.screen {
    display: flex;
    border: 2px solid black;
    width: 70%;
    height: 50%;
    background-color: #38CDD5;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.screen p {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}


.control button {
    background-color: #38CDD5;
    margin: 10px 10px 5px;
    width: 80px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    font-weight: bold;
    font-size: 25px;
    outline: none;
    opacity: 0.8;
}

.control button:hover {
    transition-duration: 0.3s;
    background-color: #2cd9de;
    /*background-color: #1a9ea4;*/
    opacity: 1;
    border: 2px solid black;
}

/*.screen .error {*/
/*    !*display: flex;*!*/
/*    !*flex-direction: column;*!*/
/*    align-items: center;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    color: red;*/
/*}*/

/*.screen .error input {*/
/*    width: 40%;*/
/*    margin: 0 10px;*/
/*}*/